$group-1: #85FFC7;
$group-2: #D9EA23;
$group-3: #FB5012;
$group-4: #139C9A;

.Match {

    .background-dark {
        background-color: #222A4C;
    }

    .match-indicator {
        position: absolute;
        top: 1rem;
        left: 2rem;
        padding: .25rem;
        background-color: #85ffc7;
        color: #29335c;
        font-family: 'Montserrat';
        font-weight: 900;
        text-transform: uppercase;
        min-width: 3rem;
        font-size: .75rem;
    }

    .score-container {
        input[type=number] {
            display: inline;
            width: 3rem;

            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }

            &:disabled {
                border: none;
            }
        }

        .container-player1 {
            button.button-penalty {
                position: absolute;
                right: 3rem;
                top: -1rem;
            }
        }

        .container-player2 {
            button.button-penalty {
                position: absolute;
                left: 3rem;
                top: -1rem;
            }
        }

        button.button-penalty {
            border-radius: 50% !important;
            width: 2rem;
            height: 2rem;
            padding: 0;
            border: none;
            background-color: #FDCA40;

            &.winner {
                background-color: #85FFC7;
            }

            &.loser {
                background-color: #FF6F59;
            }
        }

        .label-container {
            width: calc(100% - 3rem);

            label {
                font-weight: 700;
            }
        }
    }

    &.group-1 .match-indicator {
        background-color: $group-1;
    }

    &.group-2 .match-indicator {
        background-color: $group-2;
    }

    &.group-3 .match-indicator {
        background-color: $group-3;
    }

    &.group-4 .match-indicator {
        background-color: $group-4;
    }


    @media (max-width: 576px) {
        .score-container {
            text-align: center !important;

            .label-container {
                width: 100%;
            }

            .container-player1,
            .container-player2 {
                display: block;
            }

            .container-player1 {
                margin-bottom: 1rem;
            }

            label {
                margin-top: 0.5rem;
            }

            input {
                position: relative;
            }

            .container-player1 {
                input {
                    right: 3rem;
                }

                button.button-penalty {
                    position: relative;
                    right: 2rem;
                    z-index: 999;
                    top: -1.25rem;
                }
            }

            .container-player2 {
                height: 1.5rem;

                input {
                    left: 3rem;
                    bottom: calc(1.5em + 0.75rem + 2px + 1rem);
                }

                .label-container {
                    position: relative;
                    bottom: calc(1.5em + 0.75rem + 2px + 1rem);
                }

                button.button-penalty {
                    position: relative;
                    left: 2rem;
                    z-index: 999;
                    top: calc((1.5em + 2px + 3rem)*-1);
                }
            }
        }
    }
}