.Match {
    .background-dark {
        background-color: #222A4C;
    }

    .match-indicator {
        position: absolute;
        top: 1rem;
        left: 2rem;
        padding: .5rem;
        background-color: #85ffc7;
        color: #29335c;
        font-family: 'Montserrat';
        font-weight: 900;
        text-transform: uppercase;
        min-width: 3rem;
    }

    .score-container {
        input[type=number] {
            display: inline;
            width: 3rem;

            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }

            &:disabled {
                border: none;
            }
        }

        .container-player1 {
            button.button-penalty {
                position: absolute;
                right: 3rem;
                top: -1rem;
            }
        }

        .container-player2 {
            button.button-penalty {
                position: absolute;
                left: 3rem;
                top: -1rem;
            }
        }

        button.button-penalty {
            border-radius: 50% !important;
            width: 2rem;
            height: 2rem;
            padding: 0;
            border: none;
            background-color: #FDCA40;

            &.winner {
                background-color: #85FFC7;
            }

            &.loser {
                background-color: #FF6F59;
            }
        }

        .label-container {
            width: calc(100% - 3rem);

            label {
                font-weight: 700;
            }
        }
    }
}