$background: #29335c;
$background-darker: #222A4C;
$primary: #85ffc7;
$secondary: #636a88;
$tertiary: #fdca40;

.Tournament {
    .logo-container {
        margin-top: 2rem;

        img.logo {
            height: 3rem;
            margin-right: 1rem;
        }

        .logo-text {
            font-size: 3rem;
            line-height: 1;
        }
    }

    .header-container {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    button.back {
        position: absolute;
        top: 3.5rem;
    }

    ul.nav-tabs {
        border-top: 10px solid $background-darker;
        border-bottom: none;
        margin-bottom: 3rem;

        .nav-item.col-4 {
            padding-right: 0;
            padding-left: 0;
        }

        .nav-link {
            border: none;
            font-family: 'Montserrat';
            font-weight: 900;
            text-transform: uppercase;
            padding: 1rem 2rem;
            background-color: $background-darker;
        }

        .nav-link.active,
        .nav-item.show .nav-link,
        .nav-link:focus {
            background-color: $background;
            border: none;
            color: $primary;
        }

        .nav-link:hover {
            background-color: $background;
            border: none;
            color: $tertiary;
        }

        .nav-link.disabled {
            color: $secondary;
        }
    }

    @media (max-width: 767px) {
        .logo-container {
            img.logo {
                height: 4rem;
                margin-right: 0.67rem;
            }

            .logo-text {
                font-size: 2rem;
                line-height: 1;
                word-spacing: 100vw;
                width: min-intrinsic;
                width: -webkit-min-content;
                width: -moz-min-content;
                width: min-content;
                display: table-caption;
                display: -ms-grid;
                -ms-grid-columns: min-content;
            }
        }

        button.back {
            position: relative;
            top: 0;
        }

        h1 {
            font-size: 1.5rem;
        }
    }
}