.SelectTournament {

    .introduction {
        font-size: 1.2rem;
    }

    .header-container {
        margin-top: 3em;
        margin-bottom: 2em;

        img.logo {
            height: 6rem;
            margin-right: 1rem;
        }

        h1 {
            font-size: 3rem;
            line-height: 1;
            word-spacing: 100vw;
            width: min-intrinsic;
            width: -webkit-min-content;
            width: -moz-min-content;
            width: min-content;
            display: table-caption;
            display: -ms-grid;
            -ms-grid-columns: min-content;
        }
    }



    li.tournament {
        font-family: 'Montserrat';
        font-weight: 900;
        line-height: 2rem;
    }

    @media (max-width: 767px) {
        .header-container {
            img.logo {
                height: 4rem;
                margin-right: 0.67rem;
            }

            h1 {
                font-size: 2rem;
            }

        }

        li.tournament {
            .title {
                display: block;
            }

            button {
                width: 50%;
                margin: 0 !important;
            }
        }
    }
}