$primary: #85ffc7;
$gold : #ECA400;
$silver: #E2E2E2;
$bronze: #CC511C;

.Statistics {
    .tournament-standings {
        .player {
            font-family: 'Montserrat';
            font-weight: 900;
            text-transform: uppercase;
        }

        .winner {
            .trophy {
                margin-left: auto;
                margin-right: auto;

                svg {
                    width: 10rem;
                    height: 10rem;
                    fill: $gold;
                }
            }

            .player {
                color: $gold;
                font-size: 4rem;
            }
        }

        .runnerup {

            .trophy {
                margin-left: auto;
                margin-right: auto;

                svg {
                    width: 4rem;
                    height: 4rem;
                    fill: $silver;
                }
            }

            .player {
                color: $silver;
                font-size: 3rem;
            }
        }

        .semifinalists {

            .trophy {
                margin-left: auto;
                margin-right: auto;

                svg {
                    width: 4rem;
                    height: 4rem;
                    fill: $bronze;
                }
            }

            .player {
                color: $bronze;
                font-size: 2rem;
            }
        }
    }

    .tournament-stats {

        .icon {
            width: 4rem;
            height: 4rem;
            fill: $primary;
            margin-left: auto;
            margin-right: auto;
        }

        .number,
        .description {
            font-family: 'Montserrat';
            font-weight: 900;
            text-transform: uppercase;
        }

        .number {
            font-size: 5rem;
            line-height: 5rem;
        }

    }

    table {

        th {
            vertical-align: middle !important;
        }

        td:not(:first-child),
        th:not(:first-child) {
            text-align: right;
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 1rem;
        }
    }

    svg {
        &.gold {
            fill: $gold;
        }

        &.silver {
            fill: $silver;
        }

        &.bronze {
            fill: $bronze;
        }
    }

    @media (max-width: 767px) {

        .winner .player {
            font-size: 2rem !important;
        }

        .runnerup .player {
            font-size: 1.5rem !important;
        }

        .semifinalists .player {
            font-size: 1rem !important;
        }
    }
}